/*The star is the universar selector. It applies t oabsolutely everything inside the code*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*We start styling the HTML semantic elements */
body {
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dimgrey: line-height: 14pt;
    padding: 5pt 5pt;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    Justufy-content: flex-start;
}

main {
    background-color: honeydew;
}

h1 {
    font-size: 14 pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 20pt;
    padding: 50px 10px 20px;
}

p {
    padding: 0 10px 0;

}

/*Placing the list items side by side */
li {
    display: inline-block;
    /*add hight to the nav menu*/
    padding: 20px 10px;
    position: relative;
}

#blocks {
    width: 600px;
    height: 600px;
    text-align: center;
  }
  
  img {
    width: 200px;
    height: 200px;
    /* Margin property */
    margin: 5px;
    padding-left: 10px;

  }


/*Then we style the class selectors*/
/*Move avatar to the left and menu to the right side of the page
by making the content fluid*/
.nav_bar {

    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    /* vertically Aligning the Avatar in the center*/
    align-items: center;
    font-size: 20px;


}

/*Removing the bullets */
.menu {
    list-style-type: none;
}



.nav_bar a {
    color: white;
    /*To remove the underline from the link*/
    text-decoration: none;
}

/*Pseudo class to add a hover effect*/
.nav_bar a:hover {
    color: darkgray;
}

/*Reduce size of avatar image, chech why padding left
is squeezing the image*/
.avatar {
    height: 200px;
   /* padding-left: 100px;*/

}